body {
  font-family: arial, sans-serif;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input.form-control {
  border-color: rgba(21, 115, 71);
}

input.form-control:focus {
  border-color: rgba(21, 115, 71);
  box-shadow: 0px 0px 10px rgba(60, 179, 113, 0.9);
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0; /* remove the space between h1 and li */
}

ul {
  margin: 0; /* make sure there are no unwanted spaces */
  padding: 0;
}

li {
  list-style: none; /* remove the points from the paragraphs */
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize; /* start li first letter with capital */
}
.weather-box-wrapper {
  max-width: 800px; /* make the "weather-box" and "small" the same size*/
  margin: 30px auto;
}

.weather-box {
  padding: 20px;
  border: 1px solid #dadde1; /* create a border to the box */
  border-radius: 5px;
}

.back-color {
  /* giving opacity to the background. Is equivalent to the colour neutral fade out of the background */
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  /* selecting the img element inside weather-temperature*/
  margin-right: 5px;
  height: 64px;
  width: 64px;
  margin-top: 0px;
  vertical-align: top;
}

.weather-temperature strong {
  /* selecting the strong element inside weather-temperature*/
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
  display: inline-block;
  text-decoration-line: none;
}

.weather-temperature a {
  text-decoration: none;
  cursor: default;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

/* remove the underlined celsius degrees while the cursor is upon*/
.weather-temperature .active:hover {
  text-decoration: none;
}

.footer {
  text-align: center;
  color: black;
  margin-top: 90px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

.back-img-source {
  text-align: right;
  font-size: smaller;
  color: black;
  padding: 2px 5px 3px;
  border-radius: 3px;
  display: inline;
  margin-top: -10px;
}

.back-img-source:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.footer-color:hover {
  color: rgb(21, 115, 71);
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 14px;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

a {
  color: rgba(21, 115, 71);
}
