body {
  font-family: arial, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0; /* remove the space between h1 and li */
}

ul {
  margin: 0; /* make sure there are no unwanted spaces */
  padding: 0;
}

li {
  list-style: none; /* remove the points from the paragraphs */
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  text-transform: capitalize; /* start some text with capital letter */
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather-box-wrapper {
  max-width: 600px; /* make the "weather-box" and "small" the same size*/
  margin: 30px auto;
}

.weather-box {
  padding: 20px;
  border: 1px solid #dadde1; /* create a border to the box */
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  /* selecting the img element inside weather-temperature*/
  margin-right: 5px;
  height: 64px;
  width: 64px;
  margin-top: 0px;
  vertical-align: top;
}

.weather-temperature strong {
  /* selecting the strong element inside weather-temperature*/
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
  display: inline-block;
}
